
.oszlopok21 {
	display:flex;
	margin-top:100px;

}


.baloszlop {
text-align:center;
font-family:arial;
font-weight:bold;
}

.main21 {
	margin-top:5px;
	margin-left:130px;
	margin-right:30px;
	
	flex:100%;
	display:flex;
	flex-direction:column;
	overflow:auto;
	border-radius:5px;
}



.sor {
	margin:3px;
	display:flex;
	border-radius:4px;
}

.sor:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profil {
	
	padding:20px 5px 5px 5px;
	display:block;
	flex:30%;
}
.profil img {
	margin-left:30%;
}

.szemelyesadatok {
	
	flex:20%;
	text-align:left;
}

.neves {
	font-family:arial;
	font-weight:bold;
	font-size:24px;
	padding:5px;
}



.gombs {
	
	flex:30%;
}

.gombs button {
	margin-top:22%;
	margin-right:50%;
}

.modal2 {
	display:none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}
.torloform {
	margin: 5% auto 15% auto; 
	height:auto;
	background-color:white;
	border-radius:4px;
	width:40%;
}
.gombtarto {
	padding:0px;
	
	
}
 .gombtarto button{
	 margin:2px;
	 margin-bottom:10px;
	 display:inline;
 }

.cancelbuttontorol {
	width:40%;
	background-color: #f44336;
}
.donebutton {
	
	width:40%;
}

.videonak13{
	padding:5px;
	margin-left:20%;
	margin-right:5px;	
}
