.body {
	margin:0;
	font-family: "Arial Black", Gadget, sans-serif;
	background-color:red;
}




.oszlopok3 {
	display:flex;
	margin-top:100px;
	
}

.side-menubar {
	position:fixed;
	height:80%;
	width:120px;
	border-radius:10px;
	flex:10%;
	background-color:#333;
	margin:5px;
}

.side-menubar a{
	color:white;
	font-size:14px;
	text-align:center;
	text-decoration:none;
	display:block;
	padding:10px;
}

.side-menubar p {
	text-align:center;
	font-size:20px;
	font-weight:bold;
	color:white;
}

.side-menubar2 {
	overflow-y:scroll;
}
.main3 {
	margin-left:125px;
	margin-right:30px;
	background-color:white;
	flex:90%;
	display:flex;
	flex-direction:column;
	overflow:auto;
	border-radius:5px;
}
.sorok3 {
	overflow:hidden;
	height:350px;
	white-space:nowrap;
	float:left;
	/*background-color:;*/
	padding:0 14 14 14px;
	margin:5px;
}

.sorok3 h2{
	padding:4px;
	display:block;
	background-color:gray;
	width:80%;
	border-radius:4px;
	text-align:left;
}

.container3 {
	overflow:hidden;
	display:inline-block;
	padding:5px;
	margin:5px;
	text-align:left;
	
}

.cim-es-adatok3 {
	/*text-align:left;*/
	padding-left:5px;
	width:257px;
	border-style:solid;
	border-width:thin;
	
}

.cim-es-adatok3 h3{
	font-family:arial;
	display:block;
	font-weight: bold;
	font-size:14px;
	white-space:pre-line;
	word-wrap:break-word;
	height:20px;
	text-decoration:none;
	color:black;
}
.cim-es-adatok3 a{
	font-family:arial;
	display:inline-block;
	font-weight: bold;
	font-size:14px;
	white-space:pre-line;
	word-wrap:break-word;
	height:20px;
	text-decoration:none;
	color:black;
	
}
.cim-es-adatok3 p {
	display:inline-block;
	color:gray;
	font-family:arial;
	font-size:12px;
	
}

#felhaszn{
	text-decoration:none;
	color:gray;
}

.videonak3 {
	overflow-x:auto;
}
.container3 table {
	
	border-style:solid;
	border-spacing:10pt;
	border-width:2pt;
}


.gridcontainer3 {
	display:grid;
	grid-column-gap:0px;
	grid-row:gap:10px;
	grid-template-columns:auto auto auto auto;	
}
.more3 {
	text-align:center;
}
/*.more3 p{*/
.moregomb{
	cursor:pointer;
	display:block;
	font-weight:bold;
	color:#737373;
	font-size:20px;
	font-family:arial;
}
	
/*}*/

.moregomb:hover {
	color:black;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
