.body {
	margin:0;
	font-family: "Arial Black", Gadget, sans-serif;
}


.homepage-header {
	position:fixed;
	top:0;
	padding:10px;
	margin-top:10px;
	margin-right:5px;
	width:97%;
	height:60px;
	background-color:white;
	border-style:solid;
	border-color:#333;
	border-radius:5px;
	}
	
.logo a{
	float:left;
	padding:10px;
}

form.search-bar input[type=text] {
   margin-top:8px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 40%;
  height:39px;
  padding:8px;
  background: #f1f1f1;
}

/* Style the submit button */
form.search-bar button {
  float: left;
  width: 10%;
  padding: 10px;
  background: #4CAF50;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.search-bar button:hover {
  opacity:0.8;
}
form.search-bar::after {
  content: "";
  clear: both;
}


.forsearch {
	display:none;
	background-color:#f1f1f1;
	position: fixed; 
    z-index: 1;
    left: 284;
    top: 70;
    width:398px; 
    height: auto; 
	border: 1px solid grey;
	border-top:none;
	
}
.forsearch  li{
	
	list-style:none;
}

.forsearch a {
	display:block;
	
	font-family:arial;
	font-size:20px;
	color:black;
	text-decoration:none;
	display:block;
}
.navbar-right {
	margin-left:20px;
	margin-bottom:5px;
}

.navbar-right a {
	
	float:right;
	display:block;
	background-color:#4CAF50;
	text-decoration:none;
	font-size:14px;
	color:white;
	padding:13px;
	font-family:arial;
}

.navbar-right button{
	float:right;
	margin-right:5px;
}


.modal input[type=text], .modal input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.modal1 input[type=text], .modal1 input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border:none;
    cursor: pointer;
	display:inline-block;
   
}

button:hover {
    opacity: 0.8;
}

.cancelbtn1{
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
.loginbutton {
	background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 0px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.logoutbutton {
	background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 0px 8px;
    border: none;
    cursor: pointer;
	
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}


.cancelbtn, .signupbtn {
  width:100%;
  padding: 14px 20px;
  
}

.felugro {
    padding: 16px;
	border-radius:10px;
}

span.psw {
    float: right;
    padding-top: 16px;
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
	
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
	border-radius:10px;
    width: 40%; 
}

.modal1 {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: /*rgb(0,0,0);*/ red; 
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
	
}
.felugro2 {
    padding: 16px;
	border-radius:10px;
}

.felugro-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
	border-radius:10px;
    width: 40%; 
}
.footer {
	
	background-color:#333;
	margin-top:5px;
	overflow:hidden;
	margin-left:130px;

}
.footer li {
	display:inline;
	float:right;
	list-style:none;
	
}

.footer a {
	display:block;
	padding:10px;
	
	
}