.body {
	margin:0;
}
.oszlopok6{
	display:flex;
	margin-top:100px;
	
}



.main6 {
	margin-top:5px;
	margin-left:130px;
	margin-right:30px;
	/*background-color:#e0e0eb;*/
	flex:90%;
	display:flex;
	flex-direction:column;
	overflow:auto;
	border-radius:5px;
}

.sor6 {
	display:flex;
}
.videonak6 {
	
	padding:20px;
	flex:40%;
}
.cim-es-adatok6{
	flex:50%;
	
}
.cim-es-adatok6 a {
	color:white;
	display:block;
	padding:40px;
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	text-decoration:none;
}
hr {
	margin-right:30px;
}

.kisoszlopok {
	display:flex;
	border-style:solid;
	height:350px;
	
}

.bal {
	flex:50%;
	text-align:left;
}

.jobb {
	flex:60%;
	overflow-y:auto;	
}

.gombok a{
	color:white;
	text-decoration:none;
	display:inline-block;
	background-color:#4CAF50;
	padding:12px;
}

#listhr {
	width:70%;
	margin-left:5%;
}

.listaadatok {
	flex:50%;
	
}
#listcount {
	display:inline-block;
	background-color:gray;
	color:white;
	font-family:arial;
	font-size:16px;
	padding:12px 12px 12px 12px;
	margin-left:6%;
	margin-bottom:10px;
}

.bal h2 {
	padding:20px 20px 0px 20px;
	
}
.listanev h2{
	padding:10px;
	padding-left:30px;
	font-family:arial;
	font-weight:bold;
	font-size:24px;
}

.bal img {
	margin-bottom:0;
	margin-left:5%;
	padding:0px 0px 0px 20px;
}

.haromresz {
	display:flex;
}

.kozep {
	flex:10%;
	margin-right:5%;
	background-color:gray;
}

.kozepbtn {
	
	margin-top:20px;
	height:40px;
	width:40px;
}

.bal1 {
	padding:10px;
	flex:50%;
	
}

.jobb1 {
	padding:10px;
	font-family:arial;
	
	flex:40%;
}

.jobb1 a{
	color:black;
	text-decoration:none;
}
#megtekintesekszama6 {
	color:gray;
}

.jobb li {
	list-style:none;
}



.listaadatok li {
	list-style:circle;
	float:left;
	display:inline;
    font-size: 18px;
	margin-right:10%;
	
	padding:0px 0px 10px 10px;
}


.listaadatok a {
	display:block;
    color: #0275d8;
    text-decoration: none;
}


.listaadatok  a:hover {
    color: #01447e;
    text-decoration: underline;
}


