.body {
	margin:0;
}
.oszlopok {
	display:flex;
	margin-top:100px;
	
}

.side-menubar {
	position:fixed;
	height:80%;
	width:120px;
	border-radius:10px;
	flex:10%;
	background-color:#333;
	margin:5px;
}

.side-menubar a{
	color:white;
	font-size:14px;
	text-align:center;
	text-decoration:none;
	display:block;
	padding:10px;
}

.side-menubar p {
	text-align:center;
	font-size:20px;
	font-weight:bold;
	color:white;
}

.main {
	margin-top:5px;
	margin-left:130px;
	margin-right:30px;
	background-color:#e0e0eb;
	flex:90%;
	display:flex;
	flex-direction:column;
	overflow:auto;
	border-radius:5px;
}
.felhasz {
	padding-left:25px;
	color:gray;
	font-weight:bold;
	font-family:arial;
	
}

.newoszlop {
	display:flex;
}

.menubar {
	flex:60%;
	padding-top:20px;
	padding-left:30px;
	padding-right:30px;
}

.menubar a {
	display:block;
	color:gray;
	font-size:30px;
	text-decoration:none;
}


.legnezettebb {
	flex:40%;
	padding:10px 30px 30px 30px;
}
/*.gridcontainer{
	background-color:gray;
	display:grid;
	grid-column-gap:0px;
	grid-template-columns:auto auto auto auto;
	padding:10px;
}*/

.container {
	overflow:hidden;
	display:inline-block;
	padding:5px;
	margin:5px;
	border-radius:5px;
	
}

.cim-es-adatok  {
	/*text-align:left;*/
	padding-left:5px;
	width:257px;
	border-style:solid;
	border-width:thin;
}
.cim-es-adatok a{
	display:block;
	font-weight: bold;
	font-size:14px;
	white-space:pre-line;
	word-wrap:break-word;
	height:40px;
	text-decoration:none;
	color:black;;
}

#felhaszn {
	color:gray;
}