.body {
	margin:0;
}
.oszlopok {
	display:flex;
	margin-top:100px;
	
}

.side-menubar {
	position:fixed;
	height:80%;
	width:120px;
	border-radius:10px;
	flex:10%;
	background-color:#333;
	margin:5px;
}

.side-menubar a{
	color:white;
	font-size:14px;
	text-align:center;
	text-decoration:none;
	display:block;
	padding:10px;
}

.side-menubar p {
	text-align:center;
	font-size:20px;
	font-weight:bold;
	color:white;
}

.main {
	margin-top:5px;
	margin-left:130px;
	margin-right:30px;
	background-color:white;
	flex:90%;
	display:flex;
	flex-direction:column;
	overflow:auto;
	border-radius:5px;
}
.felhasz {
	text-align:center;
	padding-bottom:40px;
	display:block;
	padding-left:25px;
	color:gray;
	font-weight:bold;
	font-family:arial;
	height:40px;
	font-size:24px;
	
}

.newoszlop {
	display:flex;
}

#avatar {
	float:left;
	padding:0px 30px 20px 20px;
}

.menubar10{
	flex:60%;
	padding-top:20px;
	padding-left:30px;
	padding-right:30px;
}

.menubar10 a {
	display:block;
	color:gray;
	font-size:30px;
	text-decoration:none;
}

#legtobbet{
	float:left;
	font-family:arial;
	color:gray;
}

#leginkabb{
	font-size:20px;
	text-align:center;
	color:black;
	font-weight:bold;
	
}

.legnezettebb {
	flex:40%;
	padding:30px 30px 30px 30px;
}
.gridcontainer{
	
	
	
	background-color:white;
	padding:10px;
	border-style:solid;
	border-width:thin;
	border-radius:4px;
}

.gridcontainer6{
	
	height:300px;
	overflow-x:scroll;
	background-color:white;
	padding:10px;
	border-style:solid;
	border-width:thin;
	border-radius:4px;
}



.Videoi {
	
	
	padding-top:0px;
	text-align:center;
}

.Videoi h2 {
	
	display:inline-block	;
	margin-bottom:10px;
	
}
.Videoi img {
	cursor:pointer;
	display:inline;
}
.Videoi1{
	
	
}

.videonak10:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.elozmenyek {
	display:none;
}
